@model IEnumerable<SMS.Core.Models.ClassInfoModel>
@{
    ViewData["Title"] = "Index";
    int i = 1;
}

<div class="col-md-12">
    <div class="row">

        <div class="col-md-12">
            <h2>Section List</h2>
            <div class="text-right">
                <a asp-action="Create" asp-controller="ClassInfo" class="btn btn-primary">Add New</a>
            </div>
            <table class="table table-bordered table-striped table-sm">
                <thead class="bg-success">
                    <tr>
                        <th>#</th>
                        <th>@Html.DisplayNameFor(x=>x.ClassName)</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var c in Model)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@Html.DisplayFor(x=>c.ClassName)</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@c.Id"><i class="bi bi-pencil-fill"></i>&nbsp;&nbsp;&nbsp;</a>
                                <a asp-action="Delete" asp-route-id="@c.Id"><i class="bi bi-archive-fill"></i></a>
                            </td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


